/* General Blueprint Style */

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}



/* Main styles */
body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #CECECE;
	background: #2A2B30;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: #5C5EDC;
}